@charset "utf-8";
.function{padding:0 40px;height:30px;line-height: 30px;font-size: 14px;color:#333;margin-top: 10px;}
.function .left{position: relative;}
.function .left span{padding:0 12px;display: inline-block;width:50px;height:28px;line-height: 28px;border:1px solid #e5e5e5;margin:0 6px;background: url(../img/settingsIcon.gif) no-repeat right center;cursor:pointer;}
.function .left ul{width:74px;border:1px solid #e5e5e5;position: absolute;left:34px;top:30px;background-color: #f1f1f1;display: none;}
.function .left li{line-height: 30px;padding-left: 12px;cursor:pointer;}
.function .left li:hover{background-color: #38afff;}

table{width:95%;border:1px solid #e4e4e4;border-collapse:collapse;margin:10px auto 0;}
th,td{border:1px solid #e4e4e4;line-height: 36px;text-align: center;}
th{background-color: #e7f4ff;color:#333;}
td{color:#666666;}
.operation span,.operation a{color:#333;cursor:pointer;display: inline-block;padding:0 6px;}
.operation a{color:#45b4ff;}
.operation span:hover,.operation a:hover{text-decoration: underline;}

.item .itemTitle{height:30px;line-height: 30px;color:#666;font-size: 14px;display: inline-block;padding:0 40px;margin:20px 0 10px 0;}
.item .itemTitle .examine{padding:5px 12px;background-color: #38afff;margin-left:90px;color:#fff;border-radius:4px;cursor:pointer;}
.item .itemTitle .flow{padding:5px 12px;background-color: #ff9c3a;margin-left:25px;color:#fff;border-radius:4px;cursor:pointer;}
.item .borrowerBar{margin:0 auto;border-top: 2px solid #999;background-color: #f3f3f3;display:table;width:95%;}
.item .borrowerBar div{display: table-cell;}
.item .borrowerBar p{height:50px;line-height: 50px;color:#666;font-size: 14px;padding-left:20px;}
.item .slideToggle{margin:20px 40px 40px;text-align: center;border-bottom: 1px solid #666;height:30px;}
.item .slideToggle span{height:30px;padding:0 28px;color:#fff;background-color: #666;display: inline-block;line-height: 30px;font-size: 14px;cursor:pointer;}
.item table{display: none;}
