@charset "utf-8";
.wrap{width:100%;}
#header{height:44px;padding:0  28px;background:#438eb9;}
#header .title,#header .showUserName{color:#fff;font-size:16px;line-height: 44px;height:44px;overflow:hidden;font-size: 18px}
#header .welcome{height:44px;position: relative;}
#header .showUserName{background:#62a8d1 url(../img/showUserNameBg.png) no-repeat right center;padding:0 30px 0 8px;cursor:pointer;font-size: 16px;}
#header .msg{position: absolute;top:44px;right:0;background: #fff;border:1px solid #999;width:162px;display: none;}
#header ul{padding:4px 0 10px 0;border-bottom:1px #e5e5e5 dashed;}
#header ul li{line-height:30px;background:url(../img/headMsg.gif) no-repeat;text-indent: 42px;cursor:pointer;}
#header .bg1{background-position: 15px 0;}
#header .bg2{background-position: 15px -30px;}
#header .signOut{line-height: 44px;text-indent: 42px;background:url(../img/headMsg.gif) no-repeat 15px -60px;cursor:pointer;}
#header ul li:hover{color:red;}

.nav,.main{width:100%;}
.main{overflow: auto;}
.nav .iconBar{padding:8px 8px 0 0;border-right:1px solid #e2e2e2;float:left;background: #f1f1f1;height:36px;display:inline;}
.nav .iconBar li{float:left;width:40px;height:28px;background:url(../img/iconBg.gif) no-repeat;margin-left:8px;cursor:pointer;}
.nav .iconBar .icon1{background-position: 0 0px;}
.nav .iconBar .icon2{background-position: 0 -28px;}
.nav .iconBar .icon3{background-position: 0 -56px;}
.nav .iconBar .icon4{background-position: 0 -84px;}
.nav .navList{background: #f1f1f1;margin-left: 201px;}
.nav .navList p{padding:0 20px;line-height: 44px;height:44px;}
.nav .navList span,.nav .navList a{line-height: 44px;height:44px;padding-left: 32px;display: inline-block;background: url(../img/right.gif) no-repeat 14px center;color:#555555;}
.nav .navList .navIndex{background: url(../img/iconBg.gif) no-repeat 0 -112px;color:#438eb9;}

.sideBarNav{width:200px;border-right:1px solid #e2e2e2;float:left;overflow:auto;}
.sideBarNav p,.sideBarNav h3,.sideBarNav li li{color:#666;line-height: 40px;font-size: 14px;border-bottom:1px solid #e2e2e2;cursor:pointer;}
.sideBarNav li li{padding:0 14px 0 50px; font-size: 12px;}
.sideBarNav p,.sideBarNav h3{padding:0 14px 0 24px;text-indent: 32px}
.sideBarNav h3 span{display: block;width:142px;height:40px;line-height: 40px;background:url(../img/dir.gif) no-repeat right 0; }
.sideBarNav li .on{background: #75bcec;}
.sideBarNav li li:hover{background-color: #acd7f5;}
.sideBarNav li .on:hover{background: #75bcec;}
.sideBarNav li ul{display: none;}
.sideBarNav h3{background: url(../img/sideBarBg.gif) no-repeat 24px 0;}
.sideBarNav .active{background-color:#f1f1f1;}
.sideBarNav .active span{background:url(../img/dir.gif) no-repeat right -40px; }
.sideBarNav .pr{background-position: 24px 0;}
.sideBarNav .us{background-position: 24px -40px;}
.sideBarNav .jd{background-position: 24px -80px;}
.sideBarNav .ht{background-position: 24px -120px;}
.sideBarNav .dh{background-position: 24px -160px;}
.sideBarNav .zj{background-position: 24px -200px;}
.sideBarNav .jl{background-position: 24px -240px;}
.sideBarNav .dz{background-position: 24px -280px;}
.sideBarNav .sj{background-position: 24px -320px;}
.sideBarNav .cms{background-position: 24px -360px;}
.sideBarNav .xx{background-position: 24px -400px;}
.sideBarNav .xt{background-position: 24px -440px;}

.main .content{margin-left: 201px;height:auto;width:auto;overflow: auto;}
iframe{width:100%;height:100%;margin:0 auto;}

.alertBox{width:100%;height:100%;position: fixed;left:0;top:0;display: none;}
.alertBox .mask{width:100%;height:100%;background-color: #000;filter:alpha(opacity=70);opacity:0.7;}
.alertBox .contentBox{width:360px;padding:20px;text-align: center;position: absolute;left:50%;margin-left: -200px;top:300px;background-color: #fff;border:1px solid #d1d1d1;}
.alertBox .contentBox p{height:36px;line-height: 36px;font-size: 14px;text-align: center;}
