@charset "utf-8";
.searchBox > input[type=text] {
     width: 200px;
     height: 12px;
     padding: 8px;
     margin-right: 10px;
     border: 1px solid #000;
 }
.searchBox > input[type=button] {
    padding: 10px;
    background: #009fd5;
    color: #fff;
    border-radius: 5px;
}
.tabHead {
    line-height: 28px;
    width: 95%;
    margin: 0 auto;
}
.tabHead .selectBox{
    margin: 0 6px;
    width: 80px;
}
.tabHead .selectBox ul{
    width: 80px;
}
.edit,
.disable {
    padding: 6px;
    height: 20px;
    background: #0099FF;
    border-radius: 5px;
    margin: 0 4px;
    cursor: pointer;
    color: #fff;
}
.shadowLayer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(144,144,144,0.3);
}
.editBox,
.disableBox,
.ableBox {
    display: none;
    position: absolute;
    background: #fff;
    left: 50%;
    top: 100px;
    margin-left: -135px;
    padding-bottom: 20px;
    width: 270px;
    border: 1px solid #797979;
}
.shadowLayer h4 {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f2f2f2;
}
.editBox ul li {
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
}
.editBox .selectBox li {
    padding: 0;
    padding-left: 10px;
}
.editBox ul li input[type=text] {
    width: 140px;
    padding: 4px 6px;
    height: 20px;
    border: 1px solid #6a6a6a;
}
.editBox div.selectBox {
    width: 140px;
}.editBox div.selectBox ul {
     width: 140px;
 }

.editBox label {
    width: 84px;
    text-align: right;
}
.shadowLayer input[type=button] {
    display: block;
    padding: 6px 20px;
    margin: 0 auto;
    margin-top: 20px;
    background: #019dd8;
}
.closeBtn{position: absolute;right:10px;top:10px;width:11px;height:11px;background: url(../img/closeBg.png) no-repeat;cursor:pointer;}

